html {
    padding: 10px;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    vertical-align: middle;
}

th {
    background-color: #D6EEEE;
}

.th-center {
    text-align: center;
}

.table-button {
  margin-bottom: 2;
  margin-top: 2;
}

form {
  margin-bottom: 10px;
}